In [1]:
# 경고메세지 제거
import warnings
warnings.filterwarnings('ignore')

# library import
import numpy as np
import pandas as pd
import glob

# 시각화 library import
!pip install missingno
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns

#한글폰트 오류안나게
import matplotlib.pyplot as plt
from matplotlib import font_manager

font_fname = 'C:\\Windows\\Fonts\\batang.ttc' # 아래한글 함초롱바탕 글꼴
font_family = font_manager.FontProperties(fname=font_fname).get_name()
plt.rcParams['font.family'] = font_family

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: missingno in c:\users\hcw\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (0.5.2)
Requirement already satisfied: numpy in c:\users\hcw\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from missingno) (1.26.4)
Requirement already satisfied: matplotlib in c:\users\hcw\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from missingno) (3.9.2)
Requirement already satisfied: scipy in c:\users\hcw\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from missingno) (1.14.1)
Requirement already satisfied: seaborn in c:\users\hcw\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from missingno) (0.13.2)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\hcw\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from matplotlib->missingno) (1.3.0)
Requirement already satisfied: cycler>=0.10 in c:\users\hcw\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from matplotlib->missingno) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\hcw\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from matplotlib->missingno) (4.53.1)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\hcw\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from matplotlib->missingno) (1.4.7)
Requirement already satisfied: packaging>=20.0 in c:\users\hcw\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from matplotlib->missingno) (24.1)
Requirement already satisfied: pillow>=8 in c:\users\hcw\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from matplotlib->missingno) (10.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\hcw\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from matplotlib->missingno) (3.1.4)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\hcw\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from matplotlib->missingno) (2.9.0.post0)
Requirement already satisfied: pandas>=1.2 in c:\users\hcw\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from seaborn->missingno) (2.2.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\hcw\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from pandas>=1.2->seaborn->missingno) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\hcw\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from pandas>=1.2->seaborn->missingno) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\hcw\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from python-dateutil>=2.7->matplotlib->missingno) (1.16.0)

[notice] A new release of pip is available: 24.2 -> 24.3.1
[notice] To update, run: C:\Users\HCW\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.12_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [2]:
data = pd.read_csv('user_final.csv')

In [3]:
data.shape

(287293, 87)

In [4]:
from sklearn.metrics.pairwise import euclidean_distances

In [5]:
data = data.drop(columns = 'Unnamed: 0.1')
data = data.drop(columns = 'Unnamed: 0')

data.shape

(287293, 85)

In [6]:
data.head()

,정규화_부유도,Life_Stage,VIP등급코드,1순위업종,2순위업종,3순위업종,기준년월,연령,회원여부_이용가능,회원여부_이용가능_CA,...,총이용금액,총유효카드수,총연회비,연체비율,부유도_지표,이용금액_신판_B0M,이용금액_신판_R3M,이용금액_신판_R6M,이용금액_신판_R12M,Cluster
0,2.190501,4,Missing,Missing,Missing,Missing,201812,30.0,1,1,...,0,1,0,0.0,3.30,0,0,0,0,0
1,2.589537,5,6.0,쇼핑,사교활동,Missing,201812,40.0,1,1,...,2536626,2,0,0.0,1014654.85,356157,1198209,2220619,8070164,1
2,2.293384,7,Missing,납부,Missing,Missing,201812,60.0,1,1,...,654004,1,0,0.0,261607.90,-10787,20528,-96041,1794462,0
3,2.190501,4,Missing,Missing,Missing,Missing,201812,30.0,1,1,...,0,1,0,0.0,3.30,0,0,0,132649,0
4,2.706978,2,Missing,쇼핑,교통,사교활동,201812,20.0,1,1,...,3283186,1,0,0.0,1313276.70,520032,1663858,3411965,5113491,1

In [7]:
data.columns

Index(['정규화_부유도', 'Life_Stage', 'VIP등급코드', '1순위업종', '2순위업종', '3순위업종', '기준년월',
       '연령', '회원여부_이용가능', '회원여부_이용가능_CA', '회원여부_이용가능_카드론', '소지여부_신용',
       '소지카드수_유효_신용', '소지카드수_이용가능_신용', '입회일자_신용', '입회경과개월수_신용', '회원여부_연체',
       '이용거절여부_카드론', '동의여부_한도증액안내', '수신거부여부_TM', '수신거부여부_DM', '수신거부여부_메일',
       '수신거부여부_SMS', '탈회횟수_누적', '최종탈회후경과월', '탈회횟수_발급6개월이내', '탈회횟수_발급1년이내',
       '마케팅동의여부', '유효카드수_신용체크', '유효카드수_신용', '유효카드수_신용_가족', '유효카드수_체크',
       '유효카드수_체크_가족', '이용가능카드수_신용체크', '이용가능카드수_신용', '이용가능카드수_신용_가족',
       '이용가능카드수_체크', '이용가능카드수_체크_가족', '이용카드수_신용체크', '이용카드수_신용', '이용카드수_신용_가족',
       '이용카드수_체크', '이용카드수_체크_가족', '이용금액_R3M_신용체크', '이용금액_R3M_신용',
       '이용금액_R3M_신용_가족', '이용금액_R3M_체크', '이용금액_R3M_체크_가족', '_1순위카드이용금액',
       '_1순위카드이용건수', '_2순위카드이용금액', '_2순위카드이용건수', '최종유효년월_신용_이용가능',
       '최종유효년월_신용_이용', '최종카드발급일자', '보유여부_해외겸용_본인', '이용가능여부_해외겸용_본인',
       '이용여부_3M_해외겸용_본인', '보유여부_해외겸용_신용_본인', '이용가능여부_해외겸용_신용_본인',
       '이용여부_3M_해외겸용_신용_본인', '연회비발생카드수_B0M', '연회비할인카드수_B0M', '기본연회비_B0M',
       '제휴연회비_B0M', '할인금액_기본연회비_B0M', '할인금액_제휴연회비_B0M', '청구금액_기본연회비_B0M',
       '청구금액_제휴연회비_B0M', '상품관련면제카드수_B0M', '임직원면제카드수_B0M', '우수회원면제카드수_B0M',
       '기타면제카드수_B0M', '카드신청건수', '최종카드발급경과월', '총이용금액', '총유효카드수', '총연회비', '연체비율',
       '부유도_지표', '이용금액_신판_B0M', '이용금액_신판_R3M', '이용금액_신판_R6M', '이용금액_신판_R12M',
       'Cluster'],
      dtype='object')

In [8]:
data['cluster_detail'] = -1 # 초기값을 0으로 설정

In [9]:
data['총이용금액'].describe()

count    2.872930e+05
mean     3.331110e+06
std      4.588623e+06
min     -1.524028e+06
25%      7.369600e+04
50%      1.781954e+06
75%      4.231644e+06
max      4.466015e+07
Name: 총이용금액, dtype: float64

In [10]:
data['연체비율'].describe()

count    2.872930e+05
mean     1.622665e+04
std      5.720200e+05
min     -6.506480e+01
25%      0.000000e+00
50%      0.000000e+00
75%      0.000000e+00
max      2.018102e+07
Name: 연체비율, dtype: float64

In [11]:
4.231644e+06

4231644.0

In [12]:
# 클러스터0_30대_그룹
data.loc[
    (data['Cluster'] == 0) & 
    (data['연령'] >= 30) & 
    (data['연령'] < 40) & 
    (data['총이용금액'] >= 4.231644e+06),  # 특정 임계값
    'cluster_detail'
] = 0

# 클러스터0_20대_활동적 그룹
data.loc[
    (data['Cluster'] == 0) & 
    (data['연령'] >= 20) & 
    (data['연령'] < 30) & 
    (data['1순위업종'].str.contains('여행|여유생활', na=False)),
    'cluster_detail'
] = 0

# 클러스터0_Life Stage 4 그룹
data.loc[
    (data['Cluster'] == 0) & 
    (data['Life_Stage'] == 4),
    'cluster_detail'
] = 0

# 클러스터0_40대_가계중심 그룹
data.loc[
    (data['Cluster'] == 0) & 
    (data['연령'] >= 40) & 
    (data['연령'] < 50) & 
    (data['1순위업종'].str.contains('납부', na=False)),  # 특정 납부 관련 필드 값
    'cluster_detail'
] = 1

# 클러스터0_50대_안정성 중시 그룹
data.loc[
    (data['Cluster'] == 0) & 
    (data['연령'] >= 50) & 
    (data['연령'] < 60) & 
    (data['연체비율'] < 0.05),
    'cluster_detail'
] = 1

In [13]:
data.loc[
    (data['Cluster'] == 0) & 
    (data['1순위업종'].str.contains('납부', na=False)),  # 공공요금 및 대출 관련 필드 값
    'cluster_detail'
] = 2


data.loc[
    (data['Cluster'] == 0) & 
    (data['1순위업종'].str.contains('교통', na=False)),  # 교통비 지출이 높은 기준
    'cluster_detail'
] = 3

# 클러스터0_쇼핑 주 이용자 그룹
data.loc[
    (data['Cluster'] == 0) & 
    (data['1순위업종'].str.contains('쇼핑', na=False)),  # 쇼핑 관련 소비 금액 기준
    'cluster_detail'
] = 4

In [14]:
# 클러스터1_50대_보수적 그룹
data.loc[
    (data['Cluster'] == 1) & 
    (data['연령'] >= 50) & 
    (data['연령'] < 60) & 
    (data['총이용금액'] < 7.369600e+04),
    'cluster_detail'
] = 5

# 클러스터1_30대_기본소비 그룹
data.loc[
    (data['Cluster'] == 1) & 
    (data['연령'] >= 30) & 
    (data['연령'] < 40) & 
    (data['총이용금액'] < 7.369600e+04) & 
    (data['연체비율'] < 0.1),
    'cluster_detail'
] = 5

# 클러스터1_Life Stage 5 그룹
data.loc[
    (data['Cluster'] == 1) & 
    (data['Life_Stage'] == 5),
    'cluster_detail'
] = 6


# 클러스터1_쇼핑 주 이용자 그룹
data.loc[
    (data['Cluster'] == 1) & 
    (data['1순위업종'].str.contains('쇼핑', na=False)),
    'cluster_detail'
] = 7

# 클러스터1_교통 주 이용자 그룹
data.loc[
    (data['Cluster'] == 1) & 
    (data['1순위업종'].str.contains('교통', na=False)),  # 교통비 기준
    'cluster_detail'
] = 8

In [15]:
# 클러스터2_40대_경제활동 그룹
data.loc[
    (data['Cluster'] == 2) & 
    (data['연령'] >= 40) & 
    (data['연령'] < 50) & 
    (data['총이용금액'] >= 1.781954e+06),
    'cluster_detail'
] = 9

# 클러스터2_쇼핑 주 이용자 그룹
data.loc[
    (data['Cluster'] == 2) & 
    (data['1순위업종'].str.contains('쇼핑', na=False)),
    'cluster_detail'
] = 9

In [16]:
# 클러스터2_30대_교통비 중심 그룹
data.loc[
    (data['Cluster'] == 2) & 
    (data['연령'] >= 30) & 
    (data['연령'] < 40) & 
    (data['1순위업종'].str.contains('교통', na=False)),  # 교통비 관련 소비 기준
    'cluster_detail'
] = 10

# 클러스터2_Life Stage 4 그룹
data.loc[
    (data['Cluster'] == 2) & 
    (data['Life_Stage'] == 4),
    'cluster_detail'
] = 9

In [17]:
# 클러스터3_30대_활동적 그룹
data.loc[
    (data['Cluster'] == 3) & 
    (data['연령'] >= 30) & 
    (data['연령'] < 40) & 
    (data['1순위업종'].str.contains('여행|운동', na=False)),
    'cluster_detail'
] = 11


# 클러스터3_Life Stage 3 그룹
data.loc[
    (data['Cluster'] == 3) & 
    (data['Life_Stage'] == 3),
    'cluster_detail'
] = 12

# 클러스터3_사교활동 주 이용자 그룹
data.loc[
    (data['Cluster'] == 3) & 
    (data['1순위업종'].str.contains('사교|활동', na=False)),  # 사교활동 관련 업종 필터
    'cluster_detail'
] = 12

In [18]:
# 클러스터0_고액 소비자 그룹
data.loc[
    (data['Cluster'] == 0) & 
    (data['총이용금액'] >= 4.231644e+06),
    'cluster_detail'
] = 13

# 클러스터2_고액 소비자 그룹
data.loc[
    (data['Cluster'] == 2) & 
    (data['총이용금액'] >= 4.231644e+06),
    'cluster_detail'
] = 13
# 클러스터3_고액 소비자 그룹
data.loc[
    (data['Cluster'] == 3) & 
    (data['총이용금액'] >= 4.231644e+06),
    'cluster_detail'
] = 13
# 클러스터3_40대_고소득 그룹
data.loc[
    (data['Cluster'] == 3) & 
    (data['연령'] >= 40) & 
    (data['연령'] < 50) & 
    (data['총이용금액'] >= 4.231644e+06),
    'cluster_detail'
] = 14

In [19]:


# 클러스터0_소액 소비자 그룹
data.loc[
    (data['Cluster'] == 3) & 
    (data['총이용금액'] < 3.331110e+06),
    'cluster_detail'
] = 14

# 클러스터3_소액 소비자 그룹
data.loc[
    (data['Cluster'] == 3) & 
    (data['총이용금액'] < 3.331110e+06),
    'cluster_detail'
] = 14

# 클러스터0_업종정보_누락 그룹
data.loc[
    (data['Cluster'] == 0) & 
    (data['1순위업종'] == 'Missing'),
    'cluster_detail'
] = 14

In [ ]:
data[(data['총이용금액']  < 7.369600e+04)& (data['Cluster']==3)]

Empty DataFrame
Columns: [정규화_부유도, Life_Stage, VIP등급코드, 1순위업종, 2순위업종, 3순위업종, 기준년월, 연령, 회원여부_이용가능, 회원여부_이용가능_CA, 회원여부_이용가능_카드론, 소지여부_신용, 소지카드수_유효_신용, 소지카드수_이용가능_신용, 입회일자_신용, 입회경과개월수_신용, 회원여부_연체, 이용거절여부_카드론, 동의여부_한도증액안내, 수신거부여부_TM, 수신거부여부_DM, 수신거부여부_메일, 수신거부여부_SMS, 탈회횟수_누적, 최종탈회후경과월, 탈회횟수_발급6개월이내, 탈회횟수_발급1년이내, 마케팅동의여부, 유효카드수_신용체크, 유효카드수_신용, 유효카드수_신용_가족, 유효카드수_체크, 유효카드수_체크_가족, 이용가능카드수_신용체크, 이용가능카드수_신용, 이용가능카드수_신용_가족, 이용가능카드수_체크, 이용가능카드수_체크_가족, 이용카드수_신용체크, 이용카드수_신용, 이용카드수_신용_가족, 이용카드수_체크, 이용카드수_체크_가족, 이용금액_R3M_신용체크, 이용금액_R3M_신용, 이용금액_R3M_신용_가족, 이용금액_R3M_체크, 이용금액_R3M_체크_가족, _1순위카드이용금액, _1순위카드이용건수, _2순위카드이용금액, _2순위카드이용건수, 최종유효년월_신용_이용가능, 최종유효년월_신용_이용, 최종카드발급일자, 보유여부_해외겸용_본인, 이용가능여부_해외겸용_본인, 이용여부_3M_해외겸용_본인, 보유여부_해외겸용_신용_본인, 이용가능여부_해외겸용_신용_본인, 이용여부_3M_해외겸용_신용_본인, 연회비발생카드수_B0M, 연회비할인카드수_B0M, 기본연회비_B0M, 제휴연회비_B0M, 할인금액_기본연회비_B0M, 할인금액_제휴연회비_B0M, 청구금액_기본연회비_B0M, 청구금액_제휴연회비_B0M, 상품관련면제카드수_B0M, 임직원면제카드수_B0M, 우수회원면제카드수_B0M, 기타면제카드수_B0M, 카드신청건수, 최종카드발급경과월, 총이용금액, 총유효카드수, 총연회비, 연체비율, 부유도_지표, 이용금액_신판_B0M, 이용금액_신판_R3M, 이용금액_신판_R6M, 이용금액_신판_R12M, Cluster, cluster_detail, distance]
Index: []

[0 rows x 87 columns]

In [66]:
data[data['1순위업종'].isnull()]

Empty DataFrame
Columns: [정규화_부유도, Life_Stage, VIP등급코드, 1순위업종, 2순위업종, 3순위업종, 기준년월, 연령, 회원여부_이용가능, 회원여부_이용가능_CA, 회원여부_이용가능_카드론, 소지여부_신용, 소지카드수_유효_신용, 소지카드수_이용가능_신용, 입회일자_신용, 입회경과개월수_신용, 회원여부_연체, 이용거절여부_카드론, 동의여부_한도증액안내, 수신거부여부_TM, 수신거부여부_DM, 수신거부여부_메일, 수신거부여부_SMS, 탈회횟수_누적, 최종탈회후경과월, 탈회횟수_발급6개월이내, 탈회횟수_발급1년이내, 마케팅동의여부, 유효카드수_신용체크, 유효카드수_신용, 유효카드수_신용_가족, 유효카드수_체크, 유효카드수_체크_가족, 이용가능카드수_신용체크, 이용가능카드수_신용, 이용가능카드수_신용_가족, 이용가능카드수_체크, 이용가능카드수_체크_가족, 이용카드수_신용체크, 이용카드수_신용, 이용카드수_신용_가족, 이용카드수_체크, 이용카드수_체크_가족, 이용금액_R3M_신용체크, 이용금액_R3M_신용, 이용금액_R3M_신용_가족, 이용금액_R3M_체크, 이용금액_R3M_체크_가족, _1순위카드이용금액, _1순위카드이용건수, _2순위카드이용금액, _2순위카드이용건수, 최종유효년월_신용_이용가능, 최종유효년월_신용_이용, 최종카드발급일자, 보유여부_해외겸용_본인, 이용가능여부_해외겸용_본인, 이용여부_3M_해외겸용_본인, 보유여부_해외겸용_신용_본인, 이용가능여부_해외겸용_신용_본인, 이용여부_3M_해외겸용_신용_본인, 연회비발생카드수_B0M, 연회비할인카드수_B0M, 기본연회비_B0M, 제휴연회비_B0M, 할인금액_기본연회비_B0M, 할인금액_제휴연회비_B0M, 청구금액_기본연회비_B0M, 청구금액_제휴연회비_B0M, 상품관련면제카드수_B0M, 임직원면제카드수_B0M, 우수회원면제카드수_B0M, 기타면제카드수_B0M, 카드신청건수, 최종카드발급경과월, 총이용금액, 총유효카드수, 총연회비, 연체비율, 부유도_지표, 이용금액_신판_B0M, 이용금액_신판_R3M, 이용금액_신판_R6M, 이용금액_신판_R12M, Cluster, cluster_detail, distance]
Index: []

[0 rows x 87 columns]

In [88]:
print(data['cluster_detail'].value_counts())

cluster_detail
 13    57768
 7     50816
 14    37377
 0     26939
 2     25972
 9     20029
 6     17708
 1     15961
-1     10430
 8     10285
 3      9412
 4      4495
 10      101
Name: count, dtype: int64

In [76]:
print(data['cluster_detail'].value_counts())

cluster_detail
 14    66815
 7     50816
 15    28330
 0     26939
 2     25972
 11    17710
 6     17708
 1     15961
-1     10430
 8     10285
 3      9412
 4      4495
 9      2319
 10      101
Name: count, dtype: int64

In [78]:
print(data['cluster_detail'].value_counts())

cluster_detail
 7     50816
 14    49001
 9     37355
 15    28330
 0     26939
 2     25972
 6     17708
 1     15961
-1     10430
 8     10285
 3      9412
 4      4495
 10      589
Name: count, dtype: int64

In [112]:
data['1순위업종'].unique()

array(['Missing', '쇼핑', '납부', '교통', '사교활동', '교육', '해외', '의료', '일상생활',
       '여유생활', '요식'], dtype=object)

In [20]:
# 고유 카테고리를 리스트로 정의
categories = ['Missing', '쇼핑', '납부', '교통', '사교활동', '교육', '해외', '의료', '일상생활', '여유생활', '요식']

# 카테고리를 0부터 순서대로 매핑
category_mapping = {category: idx for idx, category in enumerate(categories)}

# 매핑을 사용하여 '1순위업종', '2순위업종', '3순위업종'을 수치형으로 변환
for col in ['1순위업종', '2순위업종', '3순위업종']:
    data[col] = data[col].map(category_mapping)

### 군집예측

In [23]:
features = [ 'Life_Stage', '연령', '총이용금액', '총유효카드수']

In [22]:
category_mapping

{'Missing': 0,
 '쇼핑': 1,
 '납부': 2,
 '교통': 3,
 '사교활동': 4,
 '교육': 5,
 '해외': 6,
 '의료': 7,
 '일상생활': 8,
 '여유생활': 9,
 '요식': 10}

In [24]:
new_user = {'Life_Stage': 4, '연령': 30, '총이용금액': 100000, '총유효카드수': 2}
new_user_df = pd.DataFrame([new_user])

In [25]:

distances = euclidean_distances(data[features], new_user_df)
data['distance'] = distances

In [26]:
closest_cluster = data.loc[data['distance'].idxmin(), 'cluster_detail']
print(f"예측된 군집: {closest_cluster}")

예측된 군집: 14

In [27]:
card = pd.read_csv('Cluster_Card.csv' , encoding="euc-kr")
card.head()

   Cluster_num                     카드명
0            0            JADE Classic
1            0             현대카드 Summit
2            0  현대카드 MX Black Edition2
3            1             현대카드 Summit
4            1   신한카드 The BEST-F(캐시백형)

In [28]:
print(f'추천 카드 : {card[card['Cluster_num'] == closest_cluster].카드명}')

추천 카드 : 45              JADE Classic
46               현대카드 Summit
47    현대카드 MX Black Edition2
Name: 카드명, dtype: object

In [29]:
print(f"추천 카드 : {', '.join(card[card['Cluster_num'] == closest_cluster].카드명.tolist())}")

추천 카드 : JADE Classic, 현대카드 Summit, 현대카드 MX Black Edition2